extends ../layout/master_page

block MasterPage
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}

        form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="post")
            .campo
                label(for="tarea") Tarea:
                input.nombre-tarea(type="text" name="tarea" placeholder="Nombre de la tarea")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="Agregar")

        .listado-pendientes
            ul
                if tareas.length
                    each val in tareas
                        li.tarea(data-tarea=val.id)
                            p=val.tarea
                            .acciones
                                if(val.estado)
                                    i.far.fa-check-circle.completo
                                else
                                    i.far.fa-check-circle
                                i.fas.fa-trash
                else
                    p No hay tareas en este proyecto
            
        //Avance del proyecto
        .avance
            h2 Avance del proyecto
            #barra-avance.barra-avance
                #porcentaje.porcentaje

        //- pre= vardump(tareas)

        //Acciones que se pueden realizar
        .contenedor-acciones
            a(href=`/proyecto/editar/${proyecto.id}` class="boton") Editar proyecto
            button#eliminar-proyecto(type="button" class="boton eliminar" data-proyecto-url=proyecto.url) Eliminar proyecto